name: Lab4 CI

on:
  push:
    branches: [ main ]
    paths:
      - 'zad1-nginx/**'
      - 'zad2-db/**'
      - 'zad3-app-db/**'
      - '.github/workflows/lab4-ci.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'zad1-nginx/**'
      - 'zad2-db/**'
      - 'zad3-app-db/**'
      - '.github/workflows/lab4-ci.yml'

jobs:
  zad1-nginx:
    name: Zadanie 1 - build Nginx
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build Nginx image
      working-directory: zad1-nginx
      run: |
        docker build -t moj-nginx:v1 .
