name: Lab4 CI

on:
  push:
    branches: [ main ]
    paths:
      - 'zad1-nginx/**'
      - 'zad2-db/**'
      - 'zad3-app-db/**'
      - '.github/workflows/lab4-ci.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'zad1-nginx/**'
      - 'zad2-db/**'
      - 'zad3-app-db/**'
      - '.github/workflows/lab4-ci.yml'

jobs:
  zad1-nginx:
    name: Zadanie 1 - build Nginx
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build Nginx image
      working-directory: zad1-nginx
      run: |
        docker build -t moj-nginx:v1 .

  zad2-db:
    name: Zadanie 2 - walidacja docker-compose (Postgres)
    runs-on: ubuntu-22.04
    needs: [zad1-nginx]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Validate docker-compose config (zad2-db)
      working-directory: zad2-db
      run: |
        docker compose config

  zad3-app-db:
    name: Zadanie 3 - validate App+DB compose
    runs-on: ubuntu-22.04
    needs: zad2-db
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Validate docker-compose config (zad3-app-db)
      working-directory: zad3-app-db
      run: |
        docker compose config